@using ASP_MVC_Cinema.Models
@model Dictionary<DateTime, MovieModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = $"Sessions";
}

@if(Model == null)
{
    <h1 class="text-center">No sessions!</h1>
}
else
{
    <div class="container">
        <h1 class="text-center">Sessions for @Model.FirstOrDefault().Value.Title</h1>
        @foreach(var item in Model)
        {
            <div class="container text-center">
                <div>@item.Key.ToShortDateString() - @item.Value</div>
            </div>
        }
    </div>
}